.header {
  font-family: "Work Sans", sans-serif;
  background-color: var(--pink);
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
}

.nav-logo {
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.header .container .nav-logo .logo {
  width: 28px;
  height: 28px;
}

.header .container .nav-logo .title {
  font-size: 24px;
  font-weight: 700;
}

.header .container .nav {
  display: flex;
  column-gap: 40px;
}
.header .container .nav .navbar {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: 500;
}

.header .container .navbar.active {
  color: #1f0c0b;
  text-decoration-line: underline;
  text-underline-offset: 2px;
}

.header .container button {
  border: none;
  font-weight: 500;
  width: 134px;
  height: 42px;
}

.footer {
  background-color: #000;
}

.footer .container .about {
  display: flex;
  justify-content: space-between;
  padding-bottom: 42px;
  padding-top: 42px;
  color: #bdbec8;
  font-family: "Roboto", sans-serif;
  border-bottom: 1px solid #0b363b;
}

.footer .container .about .box:first-child {
  display: flex;
  column-gap: 20px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.16px;
}

.footer .container .about .box:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 22px;
  font-size: 20px;
}
/* /////////////////////////////////////////////////////////////// */

.main-footer .about-footer {
  display: flex;
  column-gap: 180px;
  color: aliceblue;
  justify-content: space-between;
  margin-top: 84px;
  padding-bottom: 60px;
  font-family: "Outfit", sans-serif;
}

.main-footer .about-footer .links {
  display: flex;
  column-gap: 115px;
}

.main-footer .about-footer .links .link span {
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  display: block;
  padding-bottom: 18px;
}

.main-footer .about-footer a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #bdbec8;
  padding-top: 15px;
  padding-bottom: 15px;
  white-space: nowrap;
}

.contact-footer span {
  letter-spacing: 0.18px;
  font-size: 18px;
  display: block;
  text-align: end;
  font-weight: 400;
  padding-bottom: 17px;
}

.contact-footer p {
  text-align: right;
  font-weight: 400;
  color: #bdbec8;
  line-height: 140%;
  letter-spacing: 0.16px;
  padding-left: 60px;
}

.reserved {
  display: flex;
  justify-content: space-between;
  color: #bdbec8;
  padding-bottom: 31px;
  margin-top: 27px;
  line-height: 24px;
  font-weight: 400;
  font-family: "Outfit", sans-serif;
  border-top: 1px solid #0b363b;
  outline-offset: 4px;
}
/* border-bottom: 1px solid rgba(255, 255, 255, 0.31); */
